<div class="h-screen py-10 px-6 bg-grey-100">
  <div class="w-full max-w-4xl">
    <div class="">
      <h1 class="text-2xl font-bold text-grey-700">Task Management</h1>
      <p class="text-lg font-semibold text-grey-500">Organize and track your tasks efficiently</p>
    </div>
    <div class="">
      <div class="flex">
        
      </div>
      <button class="bg-blue-700 text-white text-sm px-3 py-2 rounded-lg"><i
          class="bi bi-plus-lg text-white font-bold"></i>Add new
        task</button>
    </div>
  </div>
</div>